<div class="content">
  <div class="content_header_daj">
    <b>サービスを提供する</b>
  </div>
  <div class="content_body_M_daj", style="font-size:18px; font-weight:bold;">
    サービスを提供<br>
    →サービスを登録できます<br>
    →他ユーザーからリクエストを受けられるようになります<br><br>
    提供中のサービス一覧<br>
    →ご自身が提供中のサービスを一覧表示できます<br>
    <br>
    受信したリクエストを確認<br>
    →他ユーザーからのリクエストを確認できます<br>
    →承認するとポイントが貯まります<br>
  </div>
</div>