<div class="content">
  <div class="content_header_daj">
    <b>ポイントメニュー</b>
  </div>
  <div class="content_body_M_daj", style="font-size:18px; font-weight:bold;">
    履歴を見る<br>
    →ポイントの増減の履歴を見ることができます<br><br>
    ポイントを貯める<br>
    →洗濯の依頼を受けると設定したポイントがもらえます<br>
    →広告視聴でもポイントをもらえます<br><br>
    ポイントを景品と交換する<br>
    →貯まったポイントを素敵な景品と交換できます♪<br>
  </div>
</div>