<div class="menu">
  <div class="menu_1">
    <p>現在のポイント</p>
    <% if user_signed_in? %>
    <b style="font-size: 24px;"><%= "#{@my_wallet.point}" %>P</b>
    <% else %>
    <b style="font-size: 24px;">--- P</b>
    <% end %>
  </div>
  <div class="menu_2">
    <div>
      <a href="/areas/new" class="search_btn btn-shared"><b style="font-size: 18px;">ご利用エリア</b>の変更</a>
    </div>
    <div>
      <a href="/menus/point" class="search_btn btn-shared"><b style="font-size: 16px;">ポイントメニュー</b></a>
    </div>
  </div>
  <div class="menu_2">
    <div>
      <a href="/menus/give" class="search_btn btn-shared">サービスを<b style="font-size: 20px;">提供</b>する</a>
    </div>
    <div>
      <a href="/menus/how_to_use" class="search_btn btn-shared"><b style="font-size: 32px;">?</b>使い方</a>
    </div>
  </div>
</div>