<div class="menu">
  <div class="menu_1">
    <p>現在のポイント</p>
    <b style="font-size: 24px;">100000P</b>
  </div>
  <div class="menu_2">
    <div>
      <a href="#" class="search_btn btn-shared"><b style="font-size: 22px;">洗濯機</b>を探す</a>
    </div>
    <div>
      <a href="#" class="search_btn btn-shared"><b style="font-size: 22px;">乾燥機</b>を探す</a>
    </div>
  </div>
  <div class="menu_2">
    <div>
      <a href="#" class="search_btn btn-shared"><b style="font-size: 22px;">現在地</b>を登録</a>
    </div>
    <div>
      <a href="#" class="search_btn btn-shared"><b style="font-size: 16px;">ポイントメニュー</b></a>
    </div>
  </div>
  <div class="menu_2">
    <div>
      <a href="#" class="search_btn btn-shared"><b style="font-size: 16px;">サービス</b>を提供</a>
    </div>
    <div>
      <a href="#" class="search_btn btn-shared"><b style="font-size: 16px;">サービス</b>を確認(開発用)</a>
    </div>
  </div>
</div>