<div class="menu">
  <div class="menu_1">
    <p>現在のポイント</p>
    <% if user_signed_in? %>
    <b style="font-size: 24px;"><%= "#{@my_wallet.point}" %>P</b>
    <% else %>
    <b style="font-size: 24px;">--- P</b>
    <% end %>
  </div>
  <div class="menu_2">
    <div>
      <a href="/" class="search_btn btn-shared"><b style="font-size: 18px;">トップページ</b>へ戻る</a>
    </div>
    <div>
      <%= link_to '履歴を見る', check_receipts_wallets_path, class: "search_btn btn-shared", style:"font-size:20px; font-weight: bold;" %>
    </div>
  </div>
  <div class="menu_2">
    <div>
      <%= link_to 'ポイントを貯める　(広告視聴)', watching_ads_gifts_path, class: "search_btn btn-shared", style:"font-size: 14px; font-weight: bold;"%>
    </div>
    <div>
      <%= link_to 'ポイントを景品と交換', new_gift_path, class: "search_btn btn-shared", style:"font-weight: bold;" %>
    </div>
  </div>
</div>