<div class="content">
  <div class="content_header_daj">
    <b>ポイントを景品と交換</b>
  </div>
  <div class="content_body_M_daj">
    <table border="1">
      <tr>
        <th style="text-align: center;">No.</th>
        <th style="text-align: center;">景品</th>
        <th style="text-align: center;">ポイント</th>
      </tr>
      <tr>
        <td style="text-align: center;">01</td>
        <td style="text-align: left;">景徳鎮</td>
        <td style="text-align: end;">150000P</td>
      </tr>
      <tr>
        <td style="text-align: center;">02</td>
        <td style="text-align: left;">タラバガニ5Kg</td>
        <td style="text-align: end;">50000P</td>
      </tr>
      <tr>
        <td style="text-align: center;">03</td>
        <td style="text-align: left;">A5ランク牛肉セット</td>
        <td style="text-align: end;">20000P</td>
      </tr>
      <tr>
        <td style="text-align: center;">04</td>
        <td style="text-align: left;">選べるギフト3000円相当</td>
        <td style="text-align: end;">5000P</td>
      </tr>
      <tr>
        <td style="text-align: center;">05</td>
        <td style="text-align: left;">Quoカード500円</td>
        <td style="text-align: end;">1000P</td>
      </tr>
    </table>
  </div>
</div>