<div class="content">
  <div class="content_header_daj">
    <b>ポイント履歴</b>
  </div>
  <div class="content_body_M">
    <table border="1">
      <tr>
        <th style="text-align: center;">日時</th>
        <th style="text-align: center;">ポイント</th>
        <th style="text-align: center;">理由</th>
      </tr>
      <% @receipts.each do |r| %>
      <tr>
        <td style="text-align: center;"><%= "#{r.created_at.strftime("%Y年%m月%d日 %H時%m分")}" %></td>
        <td style="text-align: center;"><%= "#{r.point}P" %></td>
        <td style="text-align: center;"><%= "#{r.reason}" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>