<div class="content">
  <div class="wallet_content">
    <b>ポイント履歴</b>
    <div>
      <% @receipts.each do |r| %>
      <b><%= "#{r.point}P" %></b>
      <%= "#{r.reason}" %><br>
      <% end %>
    </div>
  </div>
</div>