<div class="content">
  <div class="content_body_L">
    <div>
      <div style="margin:10px;">
        <%= link_to '履歴を見る', check_receipts_wallets_path, class: "btn-shared" %>
      </div>
      <div style="margin:10px;">
        <%= link_to 'ポイントを貯める', "#", class: "btn-shared" %>
      </div>
      <div style="margin:10px;">
        <%= link_to 'ポイントを景品と交換', "#", class: "btn-shared" %>
      </div>
    </div>
  </div>
</div>