<div class="content">
  <div class="content_area" , id='map'></div>

  <script>
    let map;
    let lat = gon.lat;
    let lng = gon.lng;
    let marker = []; // マーカーを複数表示させたいので、配列化
    let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
    let markerData = gon.items; // コントローラーで定義したインスタンス変数を変数に代入

    function initMap() {
      geocoder = new google.maps.Geocoder()
      if (lat == null) {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: 21.2762,
            lng: -157.827
          }, // ワイキキビーチを中心に表示させている
          zoom: 13,
        });
      } else {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: lat,
            lng: lng
          },
          zoom: 17,
        });
      }

      // 繰り返し処理でマーカーと吹き出しを複数表示させる
      for (var i = 0; i < markerData.length; i++) {
        let id = markerData[i]['id']

        // 各地点の緯度経度を算出
        markerLatLng = new google.maps.LatLng({
          lat: markerData[i]['latitude'],
          lng: markerData[i]['longitude']
        });

        // 各地点のマーカーを作成
        marker[i] = new google.maps.Marker({
          position: markerLatLng,
          map: map
        });

        // 各地点の吹き出しを作成
        infoWindow[i] = new google.maps.InfoWindow({
          // 吹き出しの内容
          // content: markerData[i]['point'] + 'P@' + markerData[i]['address']
          // <a>タグでリンクを作成
          content: `<a href='/items/${ id }'>${ markerData[i]['point'] + 'P'}</a>`
        });

        // マーカーにクリックイベントを追加
        markerEvent(i);

        // マーカーをクリックしたら吹き出しを表示
        function markerEvent(i) {
          marker[i].addListener('click', function () {
            infoWindow[i].open(map, marker[i]);
          });
        }
      }
      // 繰り返し処理ここまで
    }
  </script>

  <script defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
  </script>
</div>