<div class="outer_frame">
  <%= render "shared/header" %>
  <div class="inner_frame">
    <%= render "my_store_content" %>
    <%= render "shared/menu_give" %>
  </div>
  <%= render "shared/footer" %>
</div>