<div class="outer_frame">
  <%= render "shared/header" %>
  <div class="inner_frame">
    <%= render "order_content" %>
    <%= render "shared/menu_take" %>
  </div>
  <%= render "shared/footer" %>
</div>