// Place all the styles related to the wallets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wallet_content {
  width: 80%;
  height: 80vh;
  padding: 10px;
  color: rgb(32, 206, 206);
  background-color: rgb(28, 5, 82);
  border: 2px silver solid;
}