<div class="outer_frame">
  <%= render "shared/header" %>
  <div class="inner_frame">
    <div class="content">
      <div class="content_area">
        <%= render "registrations_new" %>
      </div>
    </div>
    <%= render "shared/menu" %>
  </div>
  <%= render "shared/footer" %>
</div>